PORT=8989
MONGO_URL=
HARVEST=http://192.168.5.151:3009
SOLR=https://sbnpds4.psi.edu/solr/
SOLR_USER=archive-loader
SOLR_PASS= //REPLACEME//
REGISTRY_URL=https://sbnpds4.psi.edu/solr/pds-alias/select
CONTEXT_BROWSER_FLUSH_URL=https://arcnav.psi.edu/urn:nasa:pds:context:investigation:mission.orex
AUTH_SECRET= //REPLACEME//
ADMIN_USER=admin
ADMIN_PASS= //REPLACEME//
AWS_ACCESS_KEY_ID= //REPLACEME//
AWS_SECRET_ACCESS_KEY= //REPLACEME//
AWS_REGION=us-west-2
S3_IMAGE_BUCKET= //REPLACEME//
S3_IMAGE_PREFIX=public
S3_IMAGE_BASE_URL=
APP_ENVIRONMENT=development
BACKUP_BUCKET=pds-sbn-psi-archiveloader-backup
