<div class="container">
    <form id="instrument-form">
        <div class="form-group">
            <label>LID:</label> <input class="form-control" type="text" ng-model="instrument.logical_identifier">
            <label>Display Name: </label><input class="form-control" type="text" ng-model="instrument.display_name">
            <label>Display Description: </label><textarea class="form-control" ng-model="instrument.display_description"></textarea>
            <label>Is Prime: </label><input class="form-control" type="checkbox" ng-model="instrument.is_prime" id="is_prime">
        </div>
        
    </form>
</div>