<div class="container">
    <form id="mission-form">
        <div class="form-group">
            <label>LID:</label> <input class="form-control" type="text" ng-model="mission.logical_identifier">
            <label>Display Name: </label><input class="form-control" type="text" ng-model="mission.display_name">
            <label>Display Description: </label><textarea class="form-control" ng-model="mission.display_description"></textarea>
            <label>Mission Badge Image URL: </label><input class="form-control" type="url" ng-model="mission.image_url">
            <label>Funding Level: </label><input class="form-control" type="text" ng-model="mission.funding_level">
        </div>
        
    </form>
</div>