<div class="container">
    <form id="mission-form">
        <div class="form-group">
            <label>LID:</label> <input class="form-control" type="text" ng-model="mission.logical_identifier">
        </div>
        <div class="form-group">
            <label>Display Name: </label><input class="form-control" type="text" ng-model="mission.display_name">
        </div>
        <div class="form-group">
            <label>Display Description: </label><textarea class="form-control" ng-model="mission.display_description"></textarea>
        </div>
        <div class="form-group">
            <label>Mission Bundle LID:</label> <input class="form-control" type="text" placeholder="Optional -- only applies to missions with a traditional bundle structure" ng-model="mission.mission_bundle">
        </div>
        <div class="form-group">
            <label>Mission Badge Image: </label>
            <div>
                <image-upload model="mission.image_url" error="error"/>
            </div>
        </div>
        
        <section class="repeating-group">
            <h2>Tags</h2>
            <div class="form-group empty" ng-repeat="tag in groupRepeater(mission.tags)">
                <input class="form-control" type="text" ng-model="tag.name" uib-typeahead="val for val in tags | filter: $viewValue | limitTo: 8">
            </div>
        </section>

        <section>
            <h2>Additional Content</h2>
            <div class="form-group">
                <label>Supplemental HTML - Top</label><text-angular ng-model="mission.html1"></text-angular>
            </div>
            <hr/>
            <div class="form-group">
                <label>Supplemental HTML - Bottom</label><text-angular ng-model="mission.html2"></text-angular>
            </div>
        </section>
    </form>
</div>