<div style="cursor:pointer;margin-bottom:0.3em" class="row sortable-item">
    <div class="col-1">
        <img src="img/noun_sorting_347858.png" style="height:2em" alt="Click and drag to sort items" title="Sort">
    </div>
    <div class="col-4">
        <span class="rownowrap">
            <input
                type="text"
                id="{{type.relationshipId}}"
                ng-disabled="!relationships.editing(type)"
                class="form-control text-primary"
                ng-model="type.name"
                ng-model-options="{updateOn:'submit'}">
        </span>
    </div>
    <div class="col-3">
        <button
            class="btn btn-secondary"
            type="button"
            ng-click="relationships.modifyRelationship(type)"
            ng-show="!relationships.editing(type)">
            Edit Name
        </button>
        <button
            class="btn btn-primary"
            ng-click="relationships.save()"
            ng-show="relationships.editing(type)">
            Done
        </button>
    </div>
    <div class="col-4">
        <button class="btn btn-danger" type="button" ng-click="relationships.removeRelationship(type)" ng-show="relationships.removing !== type.relationshipId">
            Remove
        </button>
        <button class="btn btn-danger" type="button" disabled ng-show="relationships.removing === type.relationshipId">
            <span class="spinner-border spinner-border-sm"></span>
            Removing...
        </button>
    </div>
</div>