<div class="container">
    <form id="spacecraft-form">
        <div class="form-group">
            <label>LID:</label> <input class="form-control" type="text" ng-model="spacecraft.logical_identifier">
            <label>Display Name: </label><input class="form-control" type="text" ng-model="spacecraft.display_name">
            <label>Display Description: </label><textarea class="form-control" ng-model="spacecraft.display_description"></textarea>
            <label>Spacecraft Image URL: </label><input class="form-control" type="url" ng-model="spacecraft.image_url">
            <hr/>
            <label>Supplemental HTML 1</label><text-angular ng-model="spacecraft.html1"></text-angular>
            <hr/>
            <label>Supplemental HTML 2</label><text-angular ng-model="spacecraft.html2"></text-angular>
        </div>
        
    </form>
</div>