<div class="container">

    <form id="target-form">
        <div class="form-group">
            <label>LID:</label> <input class="form-control" type="text" ng-model="target.logical_identifier">
        </div>
        <div class="form-group">
            <label>Display Name: </label><input class="form-control" type="text" ng-model="target.display_name">
        </div>
        <div class="form-group">
            <label>Display Description: </label><textarea class="form-control" ng-model="target.display_description"></textarea>
        </div>
        <div class="form-group">
            <label>Image: </label>
            <div>
                <image-upload model="target.image_url" error="error"/>
            </div>
        </div>

        <section class="repeating-group">
            <h2>Tags</h2>
            <div class="form-group empty" ng-repeat="tag in groupRepeater(target.tags)">
                <input class="form-control" type="text" ng-model="tag.name" uib-typeahead="val for val in tags | filter: $viewValue | limitTo: 8">
            </div>
        </section>
    
        <section>
            <h2>Additional Content</h2>
            <div class="form-group">
                <label>Supplemental HTML - Top</label><text-angular ng-model="target.html1"></text-angular>
            </div>
            <hr/>
            <div class="form-group">
                <label>Supplemental HTML - Bottom</label><text-angular ng-model="target.html2"></text-angular>
            </div>
        </section>
        <section>
            <h2>Derived Data</h2>
            <div class="form-group">
                <label>Supplemental HTML - Middle</label><text-angular ng-model="target.derived_html"></text-angular>
            </div>
        </section>
        
    </form>
</div>