<div class="container">

    <form id="target-form">
        <div class="form-group">
            <label>LID:</label> <input class="form-control" type="text" ng-model="target.logical_identifier">
            <label>Display Name: </label><input class="form-control" type="text" ng-model="target.display_name">
            <label>Display Description: </label><textarea class="form-control" ng-model="target.display_description"></textarea>
            <label>Image URL: </label><input class="form-control" type="url" ng-model="target.image_url">
            <label>Is Major: </label><input class="form-control" type="checkbox" ng-model="target.is_major" id="is_major">
            <hr/>
            <label>Supplemental HTML 1</label><text-angular ng-model="target.html1"></text-angular>
            <hr/>
            <label>Supplemental HTML 2</label><text-angular ng-model="target.html2"></text-angular>
        </div>
        
        <!-- <section id="related-targets" class="repeating-group">
            <h2>Related Targets</h2>
            <div class="form-group animated" ng-repeat="related in groupRepeater(target.related_targets)">
                <label>LID: </label><input class="form-control" type="text" ng-model="related.logical_identifier">
                <label>Relationship: </label><input class="form-control" type="text" ng-model="related.relationship">
            </div>
        </section> -->

    </form>
</div>