<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"
        type="text/javascript"></script>
    <script src="/helpers.js" type="text/javascript"></script>
    <script src="/app.js" type="text/javascript"></script>
    <title>Archive Loader</title>
</head>

<body class="container" ng-controller="RootController">
    <h1>Archive Loader</h1>
    <h4 class="error" ng-if="state.error">{{state.error}}</h4>
    <form class="form-group" ng-if="state.name === states.load" ng-controller="LoaderController">
        <div>
            <input type="radio" id="bundle-radio" ng-model="state.datasetType" name="dataset-type" value="Bundle">
            <label for="bundle-radio">Bundle</label>
        </div>
        <div>
            <input type="radio" id="collection-radio" ng-model="state.datasetType" name="dataset-type" value="Collection">
            <label for="collection-radio">Collection</label>
        </div>
        <div id="primary-input" class="form-group">
            <h2>{{state.datasetType}} URL: </h2>
            <input class="form-control" type="url" ng-model="state.datasetUrl">
        </div>
        <input type="submit" value="Fetch" ng-click="fetch()" ng-if="!state.loading">
        <loading ng-if="state.loading"></loading>
    </form>
    <div ng-if="state.name === states.import" ng-controller="ImportController">
        <div class="row">
            <nav ng-if="model.collections.length > 0" aria-label="Dataset selection" class="col">
                <ul class="pagination flex-column">
                    <li class="page-item" ng-if="model.bundle" ng-class="{active: view.active === model.bundle}"><a class="page-link" href="#" ng-click="view.active = model.bundle; view.type = constants.bundleType">{{model.bundle.lidvid}}</a></li>
                    <li class="page-item" ng-repeat="collection in model.collections" ng-class="{active: view.active.lidvid === collection.lidvid}"><a class="page-link" href="#" ng-click="view.active = collection; view.type = constants.collectionType">{{collection.lidvid}}</a></li>
                </ul>
            </nav>
            <div class="col tab-container">
                <import-form dataset="view.active" type="view.type"></import-form>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <input type="submit" value="Submit" ng-click="submit()">
        </div>
    </div>
    <div ng-if="state.name === states.manage" ng-controller="ManageController">
        You did it!
    </div>
</body>

</html>