<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        type="text/css">
    <link rel="stylesheet" href="./stylesheet.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="./lib/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="./lib/jquery-ui-1.12.1/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-cookies.min.js"></script>
    <script src="https://unpkg.com/@uirouter/angularjs@1.0.0/release/angular-ui-router.min.js"></script>
    <script src="https://kit.fontawesome.com/fc9ade1f46.js"></script>
    <script src="./lib/ui-bootstrap-tpls-3.0.6.min.js" type="text/javascript"></script>
    <script src="./lib/textAngular-rangy.min.js" type="text/javascript"></script>
    <script src="./lib/textAngular-sanitize.js" type="text/javascript"></script>
    <script src="./lib/textAngular.min.js" type="text/javascript"></script>
    <script src="./lib/ng-file-upload.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="./lib/textAngular.css" type="text/css">
    <script src="./scripts/helpers.js" type="text/javascript"></script>
    <script src="./scripts/app.js" type="text/javascript"></script>
    <script src="./scripts/directives.js" type="text/javascript"></script>
    <script src="./scripts/shared.js" type="text/javascript"></script>
    <script src="./scripts/datasets/index.js" type="module"></script>
    <script src="./scripts/targets/index.js" type="module"></script>
    <script src="./scripts/missions/index.js" type="module"></script>
    <script src="./scripts/spacecraft/index.js" type="module"></script>
    <script src="./scripts/instruments/index.js" type="module"></script>
    <script src="./scripts/tools/relationships/index.js" type="module"></script>
    <script src="./scripts/tools/sync/index.js" type="module"></script>
    <script src="./scripts/tools/reports/index.js" type="module"></script>
    <script src="./lib/ui-sortable-0.19.0/sortable.js" type="text/javascript" charset="utf-8"></script>
    <title title-container></title>
</head>

<body class="container" ng-controller="RootController">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" ng-init="isNavCollapsed = true">
        <a class="navbar-brand" ui-sref="root">Archive Loader</a>
        <button class="navbar-toggler" type="button" ng-click="isNavCollapsed = !isNavCollapsed" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" ng-if="state.loggedIn">
                <li class="nav-item dropdown" uib-dropdown ui-sref-active="active">
                    <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="datasetsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Datasets
                    </a>
                    <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="datasetsDropdown">
                        <a class="dropdown-item" ui-sref="datasets.manage">Manage Datasets</a>
                        <a class="dropdown-item" ui-sref="datasets.load">Load Archived Dataset</a>
                        <a class="dropdown-item" ui-sref="datasets.import({type: 'Bundle'})">Add new Bundle</a>
                        <a class="dropdown-item" ui-sref="datasets.import({type: 'Collection'})">Add new Collection</a>
                    </div>
                </li>
                <li class="nav-item dropdown" uib-dropdown ui-sref-active="active">
                    <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="targetsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Targets
                    </a>
                    <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="targetsDropdown">
                        <a class="dropdown-item" ui-sref="targets.manage">Manage Targets</a>
                        <a class="dropdown-item" ui-sref="targets.relate">Relate Targets</a>
                        <a class="dropdown-item" ui-sref="targets.import">Add Target</a>
                        <a class="dropdown-item" ui-sref="targets.tags">Manage Tags</a>
                    </div>
                </li>
                <li class="nav-item dropdown" uib-dropdown ui-sref-active="active">
                    <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="missionsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Missions
                    </a>
                    <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="missionsDropdown">
                        <a class="dropdown-item" ui-sref="missions.manage">Manage Missions</a>
                        <a class="dropdown-item" ui-sref="missions.import">Add Mission</a>
                    </div>
                </li>
                <li class="nav-item dropdown" uib-dropdown ui-sref-active="active">
                    <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="spacecraftDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Spacecraft
                    </a>
                    <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="spacecraftDropdown">
                        <a class="dropdown-item" ui-sref="spacecraft.manage">Manage Spacecraft</a>
                        <a class="dropdown-item" ui-sref="spacecraft.import">Add Spacecraft</a>
                    </div>
                </li>
                <li class="nav-item dropdown" uib-dropdown ui-sref-active="active">
                    <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Instruments
                    </a>
                    <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" ui-sref="instruments.manage">Manage Instruments</a>
                        <a class="dropdown-item" ui-sref="instruments.import">Add Instrument</a>
                    </div>
                </li>
                <li class="nav-item dropdown" uib-dropdown ui-sref-active="active">
                    <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="toolsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                    <div class="dropdown-menu" uib-dropdown-menu aria-labelledby="toolsDropdown">
                        <a class="dropdown-item" ui-sref="relationships">Manage Relationships</a>
                        <a class="dropdown-item" ui-sref="sync">Sync Data</a>
                        <a class="dropdown-item" ui-sref="reports">Reported Issues</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline" ng-if="state.loggedIn">
                <label class="mr-2">{{state.user}}</label>
                <button class="btn btn-sm btn-outline-secondary" type="button" ng-click="logout()">Logout</button>
            </form>
        </div>
    </nav>
    <main>
        <h1 title-container></h1>
        <ui-view ng-if="!state.transitioning"></ui-view>
    </main>
    <div id="alert-frame">
        <loading ng-if="state.loading"></loading>
        <div uib-alert ng-repeat="alert in state.alerts" ng-class="'alert-' + (alert.type || 'warning')"
            close="closeAlert($index)">{{alert.message}}</div>
        <div uib-alert ng-if="state.error" class="alert-danger" close="state.error = null">{{state.error}}</div>
    </div>
    
</body>

</html>