SOLR_HEAP=2048m

SOLR_ADMIN_USER=solr-admin
SOLR_ADMIN_PASSWORD=REPLACEME
SOLR_READER_USER=arcnav-reader
SOLR_READER_PASSWORD=REPLACEME

SOLR_COLLECTIONS="registry data"
SOLR_NUM_SHARDS=1
SOLR_REPLICATION_FACTOR=1
