<div ng-controller="SpacecraftImportController">
    <div class="row">
        <div class="col tab-container">
            <spacecraft-import-form spacecraft="model.spacecraft" error="state.error" tags="tags"></spacecraft-import-form>
        </div>
    </div>
    <div class="row">
        <div class="col tab-container">
            <relationship-selector from="spacecraft" to="target" model="model.target" lid="model.spacecraft.logical_identifier" relationship-types="targetRelationships"></relationship-selector>
            <relationship-selector from="spacecraft" to="instrument" model="model.instrument" lid="model.spacecraft.logical_identifier" relationship-types="instrumentRelationships"></relationship-selector>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <input class="btn btn-primary" type="submit" value="Submit" ng-click="submit()" ng-if="!state.loading">
        <loading ng-if="state.loading"></loading>
    </div>
</div>